@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  color: #333333;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  margin: 0;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 90px 0;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
  max-width: 500px;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.error {
  border: 1px dotted red;
  margin-top: 15px;
  margin-right: 10px;
}

/* импорт стилей шапки */
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__adress {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.navbar__button {
  width: 170px;
  height: 49px;
  font-size: 13px;
  padding: 15px 26px;
  margin-left: 30px;
  color: #333333;
  outline: none;
  borfer: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 10px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    padding: 15px 25px;
    width: 137px;
    height: 39px;
    border-radius: 5px;
    font-size: 10px;
    margin-right: 14px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
  }
  .navbar__logo {
    margin-left: -4px;
    max-width: 91px;
  }
}

/* стили для главного экрана */
.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 100px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 40px;
  margin-top: 27px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 69px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 233px;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.hero-image {
  margin-left: 15px;
}

.shadowhero {
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 50px 0;
  }
  .hero-text__title {
    line-height: 1.2;
    font-size: 24px;
    margin-bottom: 9px;
    margin-top: 0;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 27px;
  }
  .hero-list__item {
    margin-bottom: 22px;
  }
  .hero-list__text {
    font-size: 12px;
    line-height: 16px;
    max-width: 199px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
  .hero-image {
    margin-top: -10px;
    position: relative;
    right: 19px;
  }
}

/* стили для блока offer */
.offer {
  padding: 84px 0;
  background: url("../img/offer/offer-bg.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
}

.offer-block {
  width: 50%;
  padding-right: 91px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 20px;
  text-align: left;
}

.offer__subtitle {
  max-width: 232px;
  margin-bottom: 32px;
}

.offer__input {
  margin-bottom: 34px;
  width: 240px;
  outline: none;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__input:focus {
  border: 1px solid #ffd200;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  outline: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.offer-subblock {
  padding: 27px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__info {
  font-size: 15px;
  line-height: 24px;
  max-width: 225px;
  margin-right: 69px;
}

.offer__subinfo {
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
}

.offer__phone {
  font-size: 15px;
  color: #333333;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 14px;
  }
  .offer-subblock {
    padding: 21px 0 0;
    display: inline-block;
  }
  .offer__info {
    display: block;
    font-size: 15px;
    line-height: 24px;
    width: 225px;
    margin-bottom: 10px;
  }
  .offer__subinfo {
    margin-bottom: 7px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
    padding: 48px 0;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__title {
    font-size: 18px;
    line-height: 22px;
    width: 260px;
    margin-bottom: 15px;
  }
  .offer__subtitle {
    width: 203px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 26px;
  }
  .offer__input {
    max-width: 275px;
    margin-bottom: 10px;
    height: 65px;
  }
  .offer__button {
    font-size: 14px;
    line-height: 18px;
    max-width: 275px;
    padding: 16px 62px;
  }
}

/* стили для блока portfolio */
.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  max-width: 788px;
  margin: auto;
  margin-bottom: 99px;
  font-size: 30px;
  line-height: 45px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__image {
  margin: auto;
}

.slick-slide {
  margin-right: 30px;
  outline: none;
}

@media (max-width: 1200px) {
  .portfolio {
    padding: 40px 0 50px;
  }
  .portfolio__arrows {
    margin-top: 46px;
  }
}

@media (max-width: 768px) {
  .portfolio {
    background: #f5f5f5;
  }
  .portfolio__title {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 41px;
  }
  .slider__image {
    width: 266px;
    height: 186px;
  }
}

/* стили для блока с ценами */
.price__title {
  margin: auto;
  margin-bottom: 47px;
  font-size: 30px;
  line-height: 46px;
  max-width: 516px;
}

.price__subtitle {
  display: block;
  margin-bottom: 57px;
  text-align: center;
  font-size: 20px;
}

.price__card {
  margin-bottom: 40px;
}

.imgprice {
  display: block;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image:before {
  opacity: 1;
}

.card:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.card__text {
  padding: 40px;
}

.card__title {
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 30px;
}

.card__image {
  position: relative;
}

.card__image:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .price {
    padding: 60px 0 55px;
  }
  .card:nth-last-child(-n+3) {
    margin-bottom: 40px;
  }
  .card:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .price {
    padding-bottom: 55px;
  }
  .price__title {
    font-size: 18px;
    max-width: 252px;
    line-height: 23px;
    margin-bottom: 10px;
  }
  .price__subtitle {
    font-size: 14px;
    line-height: 45px;
    margin-bottom: 40px;
  }
  .price__card {
    max-width: 273px;
    margin: auto;
    margin-bottom: 29px;
  }
  .card__text {
    padding: 31px;
  }
  .card__title {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .card:nth-last-child(-n+3) {
    margin-bottom: 30px;
  }
  .card:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media (max-width: 606px) {
  .card:nth-last-child(-n+2) {
    margin-bottom: 30px;
  }
  .card:last-child {
    margin-bottom: 0;
  }
}

/* стили для блока 5 шагов до ремонта */
.section__steps {
  padding-top: 50px;
}

.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
}

.step:after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/steps/arrow.png") no-repeat center;
  top: -10px;
  right: -15%;
}

.step:last-child:after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 26px;
}

.step__text {
  font-size: 14px;
  max-width: 152px;
  margin: auto;
  font-size: 14px;
  line-height: 20px;
}

.steps__title {
  margin: auto;
  margin-bottom: 51px;
  font-size: 30px;
  line-height: 45px;
  max-width: 660px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.steps__subtitle {
  text-align: center;
  margin-bottom: 69px;
  font-size: 20px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .section__steps {
    padding: 0 0 57px;
  }
  .step:after {
    display: none;
  }
  .step:last-child {
    margin-bottom: 0;
  }
  .step__text {
    font-size: 12px;
    line-height: 18px;
  }
  .step__image {
    margin-bottom: 21px;
  }
  .steps__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
  }
  .steps__subtitle {
    font-size: 14px;
    margin-bottom: 32px;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* стили для блока бриф */
.brif {
  padding-bottom: 70px;
  background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/brif-bg.jpg");
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 212px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 19px;
  font-size: 15px;
  outline: none;
}

.brif__input:focus {
  border: 1px solid #ffd200;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 34px;
  font-size: 16px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  outline: none;
}

.interview {
  padding-right: 68px;
  margin-top: 12px;
}

.interview__title {
  margin-bottom: 43px;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 33px;
}

.interview__subtitle {
  display: block;
  margin-bottom: 95px;
  font-size: 16px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview-list__counter {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  border-radius: 50%;
}

.interview-list__text {
  max-width: 400px;
  font-size: 18px;
  line-height: 28px;
}

.form {
  margin-top: 9px;
}

.form__title {
  margin-bottom: 45px;
  font-size: 22px;
  line-height: 33px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.form__subtitle {
  display: block;
  margin-bottom: 49px;
  font-size: 16px;
}

.form__description {
  display: block;
  font-size: 15px;
}

@media (max-width: 1200px) {
  .brif {
    padding: 55px 0;
  }
  .brif__form {
    padding-left: 30px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 13px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .brif {
    padding: 30px 6px 35px;
    background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/brif-bg.jpg");
    background-position: top center, center bottom;
    background-size: 100% 47%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    margin-top: 80px;
    padding-left: 0;
  }
  .brif__button {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .interview {
    padding-right: 15px;
  }
  .interview__title {
    font-size: 18px;
    line-height: 23px;
  }
  .interview__subtitle {
    font-size: 14px;
    max-width: 186px;
    margin-bottom: 38px;
  }
  .interview-list__item {
    margin-bottom: 23px;
  }
  .interview-list__counter {
    margin-right: 10px;
  }
  .interview-list__text {
    max-width: 206px;
    line-height: 19px;
  }
  .form__title {
    font-size: 18px;
    line-height: 25.35px;
    margin-top: 15px;
    margin-bottom: 21px;
  }
  .form__description {
    font-size: 14px;
    line-height: 24px;
    max-width: 142px;
    margin: auto;
  }
}

/* стили для подвала */
.footer {
  position: relative;
}

.map {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 94px;
  padding-left: 213px;
}

.contacts__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 93px;
  max-width: 290px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 23px;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 31px;
  max-width: 200px;
  font-size: 16px;
  line-height: 26px;
}

.contacts-list__phone {
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  color: #333333;
}

.contacts-list__bold {
  display: block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .map {
    position: static;
    width: 100%;
  }
  .contacts {
    padding: 58px 6px 30px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin: auto;
    max-width: 280px;
  }
  .contacts__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 32px;
  }
  .contacts-list__icon {
    margin-right: 14px;
    line-height: 37px;
  }
}

/* Стили модального окна */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}
/*# sourceMappingURL=style.css.map */